<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Rasmus Steinberg, veebiprogrammeerimine</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
    <hr>
    <nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanasõnad</a>
		<a href="/visitlog/registervisit">Registreeri külastus</a>
		<a href="/visitlog">Registreeritud külastajad</a>
		<a href="/eestifilm">Eesti film</a>
		<a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a>
		<a href="/gallery">Fotogalerii</a>
		<a href="/photogallery">Fotogalerii (lk)</a>
		<a href="/news">Uudised</a>
		<a href="/signup">Kasutajakonto loomine</a>
	</nav>
    <hr>
	<h2>Lisa uudis</h2>
	<form method="POST" enctype="multipart/form-data">
		<label for="titleInput">Uudise pealkiri: </label>
		<input type="text" id="titleInput" name="titleInput" placeholder="Uudise pealkiri ...">
		<br>
		<label for="newsInput">Uudise sisu: </label>
		<br>
		<textarea id="newsInput" name="newsInput" placeholder="Uudise sisu ..." cols="100" rows="5"></textarea>
		<br>
		<label for="expireInput">Uudise aegumiskuupäev: </label>
		<input type="date" id="expireInput" name="expireInput">
		<br>
		<label for="photoInput">Uudise pilt: </label>
		<input type="file" id="photoInput" name="photoInput" accept="image/*">
		<br>
		<label for="altInput">Pildi alttekst: </label>
		<input type="text" id="altInput" name="altInput" placeholder="Pildi kirjeldus ...">
		<br>
		<input type="submit" id="newsSubmit" name="newsSubmit" value="Salvesta">
	</form>
	<p><%= notice %></p>
</body>
</html>
