<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Rasmus Steinberg, veebiprogrammeerimine</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	<img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse b채nner">
	<h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
	<hr>
	<nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanas천nad</a>
		<a href="/visitlog/registervisit">Registreeri k체lastus</a>
        <a href="/visitlog">Registreeritud k체lastajad</a>
		<a href="/eestifilm">Eesti film</a>
	</nav>
	<hr>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/eestifilm/inimesed">Eesti filmiinimesed</a></li>
		<li><a href="/eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
		<li><a href="/eestifilm/ametid">Eesti filmindusametid</a></li>
		<li><a href="/eestifilm/ametid_add">Eesti filmindusameti lisamine</a></li>
	</ul>
	<hr>
	<h2>Eesti filmiinimesed</h2>
	<ol>
		<% personList.forEach(p => { %>
		<li>
			<%= p.first_name %> <%= p.last_name %>,
			<% if (p.death_date != null) { %>
			suri <%= p.death_date %>
			<% } else { %>
			elus
			<% } %>
		</li>
		<% }) %>
	</ol>
</body>
</html>