<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Rasmus Steinberg, veebiprogrammeerimine</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	<img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
	<h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
	<hr>
	<nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanasõnad</a>
		<a href="/visitlog/registervisit">Registreeri külastus</a>
        <a href="/visitlog">Registreeritud külastajad</a>
		<a href="/eestifilm">Eesti film</a>
	</nav>
	<hr>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/eestifilm/inimesed">Eesti filmiinimesed</a></li>
		<li><a href="/eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
		<li><a href="/eestifilm/ametid">Eesti filmindusametid</a></li>
		<li><a href="/eestifilm/ametid_add">Eesti filmindusameti lisamine</a></li>
	</ul>
	<hr>
	<h2>Eesti filmiinimeste lisamine</h2>
	<form method="POST">
	  <label for="firstNameInput">Filmiinimese eesnimi</label>
	  <input id="firstNameInput" name="firstNameInput" type="text" placeholder="Eesnimi" required>
	  <br>
	  <label for="lastNameInput">Filmiinimese perekonnanimi</label>
	  <input id="lastNameInput" name="lastNameInput" type="text" placeholder="Perekonnanimi" required>
	  <br>
	  <label for="dateofbirthInput">Filmiinimese sünniaeg</label>
	  <input id="dateofbirthInput" name="dateofbirthInput" type="date" required>
	  <br>
	  <label for="dateofdeathInput">Filmiinimese surmaaeg</label>
	  <input id="dateofdeathInput" name="dateofdeathInput" type="date">
	  <br>
	  <input id="personSubmit" name="personSubmit" type="submit" value="Salvesta">
	</form>
	<p>Staatus: <%= notice %></p>
</body>
</html>