<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Rasmus Steinberg, veebiprogrammeerimine</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
    <hr>
    <nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanasõnad</a>
		<a href="/visitlog/registervisit">Registreeri külastus</a>
		<a href="/visitlog">Registreeritud külastajad</a>
		<a href="/eestifilm">Eesti film</a>
		<a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a>
		<a href="/gallery">Fotogalerii</a>
		<a href="/photogallery">Fotogalerii (lk)</a>
		<a href="/news">Uudised</a>
		<a href="/signup">Kasutajakonto loomine</a>
	</nav>
    <hr>
	<h2>Eesti film</h2>
	<ul>
		<li><a href="/eestifilm/inimesed">Eesti filmiinimesed</a></li>
		<li><a href="/eestifilm/inimesed_add">Eesti filmiinimeste lisamine</a></li>
		<li><a href="/eestifilm/ametid">Eesti filmindusametid</a></li>
		<li><a href="/eestifilm/ametid_add">Eesti filmindusameti lisamine</a></li>
	</ul>
	<hr>
	<h2>Eesti filmid</h2>
	<p>Lisa uus film</p>
	<form method="POST">
	  <label for="titleInput">Filmi nimi</label>
	  <input id="titleInput" name="titleInput" type="text" placeholder="Filmi nimi" required>
	  <br>
	  <label for="yearInput">Filmi aasta</label>
	  <input id="yearInput" name="yearInput" type="number" placeholder="Filmi aasta" required>
	  <br>
	  <label for="durationInput">Filmi kestus</label>
	  <input id="durationInput" name="durationInput" type="number" placeholder="Filmi kestus" required>
	  <br>
	  <input id="personSubmit" name="personSubmit" type="submit" value="Salvesta">
	  <p>Staatus: <%= notice %></p>
	  <hr>
	<ol>
		<% movieList.forEach(function(listItem){ %>
			<li><%= listItem.title %> (<%= listItem.production_year %>)</li>
		<% });%>
	</ol>
</body>
</html>