<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="utf-8">
	<title>Fotogalerii</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/style/style.css">
	<link rel="stylesheet" href="/style/gallery.css">
	<script src="/script/gallery.js" defer></script>
</head>
<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
    <hr>
    <nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanasõnad</a>
		<a href="/visitlog/registervisit">Registreeri külastus</a>
		<a href="/visitlog">Registreeritud külastajad</a>
		<a href="/eestifilm">Eesti film</a>
		<a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a>
		<a href="/gallery">Fotogalerii</a>
		<a href="/photogallery">Fotogalerii (lk)</a>
		<a href="/news">Uudised</a>
		<a href="/signup">Kasutajakonto loomine</a>
	</nav>
    <hr>
	<dialog id="modal" class="modalarea">
		<span id="modalClose" class="modalclose">&times;</span>
		<div class="modalhorizontal">
			<div class="modalvertical">
				<p id="modalCaption"></p>
				<img id="modalImage" src="/images/empty.png" alt="Galeriipilt">
			</div>
		</div>
	</dialog>
	<h2>Fotogalerii</h2>
	<div id="gallery" class="gallery">
		<% galleryData.forEach(function(image){ %>
			<img src="<%= imagehref %><%= image.href %>" alt="<%= image.alt %>" class="thumbs" data-filename="<%= image.href %>">
		<% }); %>
	</div>
</body>
</html>
