<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Rasmus Steinberg, veebiprogrammeerimine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
    <h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
    <hr>
    <nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanasõnad</a>
		<a href="/regvisit">Registreeri külastus</a>
        <a href="/visitlog">Registreeritud külastajad</a>
    </nav>
    <hr>
    <h2>AJAINFO</h2>
    <ul>
        <li>Nädalapäev: <%= weekDayNow %></li>
        <li>Kuupäev: <%= dateNow %></li>
    </ul>
</body>

</html>