<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Rasmus Steinberg, veebiprogrammeerimine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
    <img src="/images/vp_banner_2025_AA.jpg" alt="Kursuse b채nner">
    <h1>Rasmus Steinberg, veebiprogrammeerimine</h1>
    <hr>
    <nav>
		<a href="/">Avaleht</a>
		<a href="/vanasonad">Vanas천nad</a>
		<a href="/regvisit">Registreeri k체lastus</a>
        <a href="/visitlog">Registreeritud k체lastajad</a>
    </nav>
    <hr>
    <h2><%= heading %></h2>
    <ul>
        <% listData.forEach(function(listItem){ %>
            <li><%= listItem %></li>
        <% }); %>
    </ul>
</body>

</html>